@model LoginModel

<h3>Login Page</h3>
<form method="post">
    <label>UserName</label>
    <input type="text" name="UserName" />
    <label>Passowrd</label>
    <input type="password" name="Password"  />
    <button>Login</button>
</form>
